#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.weather-card {
  /* Place vertically */
  display: grid;
  font-size: 20px;
  align-items: center;
  /* Bright black / Dark white */
  background-color: rgba(255, 255, 255, 0.1);
  /* Rounded corners */
  border-radius: 12px;
  /* Add space above the card */
  margin-top: 30px;
}

.container {
  color: white;
}